SERPAPI_KEY=your_serpapi_key_here
IMGBB_KEY=your_imgbb_key_here
PRIVATE_KEY=your_polygon_amoy_private_key_here
RPC_URL=https://polygon-amoy-bor-rpc.publicnode.com
WALLET_ADDRESS=your_wallet_address_here
FACE_MATCH_TOL=0.35
